body {
  margin-top: 40px 20px;
  background-color: #fffacd;
}

.content-margin-top {
  margin-top: 80px;
}

.strong-title {
  font-size: 50px;
  font-weight: 800;
  font-style: italic;
  color:white;
  text-shadow: 0 0 15px darkorange;
  font-family: 'Hiragino Maru Gothic Pro','ヒラギノ丸ゴ　Pro W4',sans-serif;
}

